body{
margin: 0;padding: 0;
}
.container{
    width: 320px;
    height: 480px;
}

footer,header{
    height: 50px;
    background: #bbb;
    line-height: 50px;
    font-size: 25px;
    z-index: 99999999;
}

main{
height:380px;

position: relative;
display: block;
background: #eee;
}

ul{
	margin: 0;
	padding: 0;
	height: 350px;
	overflow-y: scroll;
}

li{
	list-style: none;
	height: 50px;
	width: 100%;
	background: #aaa;
}
li:nth-child(odd){
	background: #ccc;
}

a{
	display: block;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	position: relative;
}

span{
content: "";
position: absolute;
right: 15px;
top: 15px;
width: 0;
height: 0;
border-style: solid;
border-width: 20px 20px 0 20px;
border-color: #007bff transparent transparent transparent;
-webkit-transform: rotate(180deg);
transition: all .6s;


}

.span_active{
	-webkit-transform: rotate(0deg);
transition: all .6s;

}

.info{
	height: 100px;
}