body{
margin: 0;
padding: 0;
}

#profil,#group,#plus{
    display: none;
}
.container{
    width: 320px;
    height: 480px;
    font-family: sans-serif;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #eee;
}

#profil:checked~.page_profil{
    
    -webkit-transform: translateX(0px);
   
   -webkit-transition: -webkit-transform .45s ease-in;

}

#group:checked~.page_group{
    -webkit-transform: translateX(0px);
        -webkit-transition: -webkit-transform .45s ease-in;


}

#plus:checked~.page_plus{
    left: 0;
    -webkit-transform: translateY(50px);
    
    -webkit-transition: -webkit-transform .25s linear;
   

}


.page_plus{
   position: absolute;
    -webkit-transform: translateY(-380px);
    
    left: 0;
    background: green;
    
     -webkit-transition: -webkit-transform .25s linear;
  
}


.page_profil,.page_group,.page_plus,main{
height:370px;
width: 310px;
padding: 5px;
display: block;


}

.page_profil{
   position: absolute;
    top: 50px;
    -webkit-transform: translateX(-320px);
    background: orange;
    
}

.page_group{
   position: absolute;
     top: 50px;
    -webkit-transform: translateX(320px);
    

    background: blue;
   
}

.page_plus{
   position: absolute;
    -webkit-transform: translateY(-380px);
    
    left: 0;
    background: green;
    
     -webkit-transition: -webkit-transform: translateY 1s linear;
  
}



footer,header{
    height: 40px;
    padding: 5px;
    background: #bbb;
    clear: both;
    line-height: 40px;
    font-size: 20px;
    z-index: 99999999;
}

.plus{
    float: right;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    color: white;
    border-radius: 50%;
   width: 40px;
   height: 40px;
    background: #ccc;
}


nav{
    clear: both;
}
ul{
margin: 0;
padding: 0;
}

li{
    list-style: none;
    float: left;
    width: 50%;
}

label{
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    text-align: center;
    background: #ddd;
}


.back{
    text-decoration: none;
    color: black;
}


.label_active{
background: #eee;
 color: black;
}